.Layout {
  .layout-main {
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
    background-color: $grey4;
    margin: 60px 0 0 0;
    display: flex;
    align-items: stretch;
    height: calc(100vh - 60px);

    @media (max-width: $md) {
      margin: 50px 0 0 0;
      height: calc(100vh - 50px);
    }
  }
  .layout-body {
    width: 100%;
    padding: $padding;
  }
}
