.TopBar {
  height: 60px;
  border-bottom: 1px solid $borderColor;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  
  @media (max-width: $md) {
    height: 50px;
  }

  &__left-title {
    color: $fontColor2;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 17px;
  }

  &__default {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__left-links {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__left-link {
    color: $fontColor3;
    padding: $padding;
    cursor: pointer;
    &:hover {
      color: $fontColor2;
    }
  }

  &__user-dropdown {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 0 16px;
    border-left: 1px solid $borderColor;
    @media (max-width: $md) {
      display: none;
    }
    .ant-dropdown-link {
      margin: 0 22px 0 14px;
      padding: 15px 0;
      font-weight: 700;
      color: $fontColor3;
      font-size: 14px;
      > i.anticon {
        color: $iconColor;
      }
    }
  }
  
  &__burger-menu {
    display: none;
    position: absolute;
    right: 18px;
    height: 24px;
    width: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    @media (max-width: $md) {
      display: block;
    }
  }
}
