.RegistrationForm {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  
  &__card {
    width: 100%;
    max-width: 400px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: 2px 0 13px 0 !important;
  }

  &__fields {
    margin: 0 0 15px 0; 
  }
}
